* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: ;

}
    


.container {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* Header
_____________________ */


.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 35px 0;
    transition: .5s;
}

.header1 {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 0;
    background-color: #06454C;
    border-bottom: 2px solid white;
    transition:  .5s ;
    
    
}


.header.active {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 0;
    background-color: #06454C;
    border-bottom: 2px solid white;
    transition:  .5s ;
}

.header_logo {
        color: White;
        font-size: 70px;
        padding-top: 10px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 2px solid white;
    
    
}

.inner_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    
}

.nav {
    padding-top: 30px;
}

li {
    list-style: none;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

.nav_link {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    opacity: ;
    transition: .3s ;
}

.nav_link:hover {
    opacity: 10;
}

.nav_link:first-child {
    margin-left: 0;
}

.hamburger {
    display: none;
    margin-top: 20px;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    background: white;
    transition: all .3s ease-in-out;
}

/* Intro
_____________________ */

.intro {
    width: 100%;
    height: 1100px;
    background: url('intro2.jpg') no-repeat center;
    background-size: cover;
    
}

.intro_inner {
    display: flex;
    
    padding-top: 250px;

}



.intro_title {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: left;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 70px;
    font-weight: 700px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    
    vertical-align: to;
    margin-top: 50px;
    margin-left: 30px;
    border: 5px solid white;
    border-radius: 2px;
    font-family: ;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn_bg {
    background-color: transparent;
    padding: 14px 40px;
    transition:  .5s ;
}

.btn_bg:hover { 
    background-color: white;
    color: #333;
}

/* About
_____________________ */

.about {
    background-color: white;
    width: 100%;
    height: 1000px;
    background-attachment: fixed;
}

.about_title {
    color: #333;
    text-align: center;
    padding: 50px 0;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    
}

.about_content {
    color: black;
    text-align: center;
    font-size: 45px;
    font-family: 'Cinzel Decorative', cursive;
}

/* Benefits
_____________________ */


.benefits {
     background: #109B9C;
}

.benefits_title {
    text-align: center;
    padding: 60px 0;
    color: #fff;
    font-size: 35px;
    font-family: 'Cinzel Decorative';
    
}

.container_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 100px 0;
}

.container_2 .card .block1 .content {
    opacity: .7;
    transition: .2s;
}

.container_2 .card:hover .block1 .content {
    opacity: 1;
   
}

.card {
    
}

.block {
    width: 300px;
    height: 200px;
    transition: .5s;
    
}

.block1 {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container_2 .card:hover .block1 {
    transform: translateY(0px);
    background-color: #06454C;
}

.container_2 .card:hover .block1 .benefit_title{
    color: #fff;

}
.block2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container_2 .card:hover .block2 {
    transform: translateY(0px);
}

.benefit_txt {
    margin: 0;
    padding: 0;
}

.benefit_title {
    text-align: center;
    color: #333;
}


.benefit_img {
    width: 150px;
}

.page {
    width: 100%;
    height: 750px;
    background: white;
}

.page_title {
    text-align: center;
    color: #333;
    font-size: 50px;
    padding: 50px 0;
    font-family: 'Cinzel Decorative', cursive;
    text-transform: uppercase;
}

.page_inner {
    padding-top: 100px;
}

.footer {
    width: 100%;
    height: 300px;
    background: #109B9C;
    
}    

.footer_inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer_item {
    width: 50%;
    text-align: center;
    
}

.footer_title {
    color: white;
    padding-bottom: 30px;
}

.footer_content {
    color: rgba(255,255,255,.5);
    font-size: 20px;
    font-style: normal;
    
}

.copyright {
    width: 100%;
    height: 200px;
    background: #06454C;
}

.copyright_inner {
    color: rgba(255,255,255,.5);
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}

.M_txt {
    color: white;
}


@media(max-width: 435px){

    .container {
        max-width: 350px;
    }
    
    .header {
        
        padding: 0;
    }
    
    .header1 {
        height: 80px;
    }
    
    .header_logo {
        font-size: 35px;
        padding-top: 5;
    }
    
       
    
    .intro {
        height: 800px;
    }
    
    .intro_inner {
        display: flex;
        justify-content: center;
    }
    
    .intro_title {
        font-size: 45px;
        text-align: center;
        width: 100%;
    }
    
    .btn {
        position: absolute;
        left: 35%;
        font-size: 10px;
        border: 3px solid white;
        margin-left: 0px;
        
    }
    
    .btn_bg {
        padding: 7px 20px;
    }
    
    .about {
        height: 600px;
    }
    
    .about_title {
        font-size: 20px;
    }
    
    .about_content {
        font-size: 20px;
        
    }
    
    .benefits_title {
        font-size: 20px;
    }
    
    .container_2 {
        justify-content: center;
    }
    
    .footer {
        height: 200px;
    }
    
    .footer_inner {
        padding: 40px 0;
    }
    
    .footer_title {
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .footer_content {
        font-size: 13px;
    }
    
    .copyright {
        height: 75px;
    }
    
    .copyright_inner {
        font-size: 10px;
        padding-top: 20px;
    }
    
}

@media(max-width: 768px){
    
    
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
     .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
     .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav_link {
        font-size: 15px;
    }
    
    .nav_menu {
        
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: #06454C;
        width: 100%;
        text-align: center;
        transition: .3s;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    
    .nav_item {
        margin: 16px 0;
    }
    
    .nav_menu.active {
        left: 0;
    }
   
}
@media and (max-height:1440px){
    
    .container_2 {
        justify-content: center;
    }
    
    .container3 {
        
        margin: 0 auto;
    }
}

